* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text_input {
    min-width: 300px;
    height: 35px;
    font-size: 14px;
    border: solid 1px #ddd;
    padding: 0 10px;
}
button {
    border: 0;
    background-color: cadetblue;
    font-size: 14px;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
}
.error {
    display: block;
    margin-top: 3px;
    color: red;
}
textarea {
    min-width: 300px;
    height: 100px;
    font-size: 14px;
    border: solid 1px #ddd;
    padding: 10px;
}